body {
    font-family: 'Lucida Console', Monaco, monospace;
    background: linear-gradient(to bottom, #1b1b1b, #3d3d3d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #ffcc00;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px #000;
}

#balance {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00ff00;
}

input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #444;
    color: #fff;
}

.button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-shadow: 1px 1px #000;
}

.button.gold {
    background-color: #ffcc00;
    box-shadow: 0 5px #b38b00;
}

.button.gold:active {
    background-color: #e6b800;
    box-shadow: 0 2px #b38b00;
    transform: translateY(4px);
}

.button.red {
    background-color: #e60000;
    box-shadow: 0 5px #990000;
}

.button.red:active {
    background-color: #cc0000;
    box-shadow: 0 2px #990000;
    transform: translateY(4px);
}

#reels {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.reel {
    width: 150px;
    height: 100px;
    border: 2px solid #444;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffcc00;
    background: linear-gradient(to bottom, #333, #000);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#result-message {
    font-size: 1.2em;
    margin-top: 20px;
}
